<div flex>
  <div stretch></div>
  <div id="hardware">
    <mat-card id="driver">
      <mat-card-title>
        {{ 'Hardware Setup' | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="width-100">
          <mat-select [placeholder]="'Driver' | translate" [(ngModel)]="selectedDriver">
            <mat-option *ngFor="let driver of availableDrivers; trackBy:driveTracker" [value]="driver">
              {{ driver.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card id="setup" *ngIf="!!selectedDriver && selectedDriver.has_setup">
      <mat-card-title matTooltip="{{ 'Fill the driver setup options. For information about the properties, read the documentation of the AHIO library.' | translate }}">
        {{ 'Setup' | translate }}
      </mat-card-title>
      <mat-card-content flex-col>
        <mat-form-field *ngFor="let argument of selectedDriver.setup_arguments">
          <input matInput [placeholder]="argument.name" [value]=" argument.default_value | removeUndefined "
            [(ngModel)]="argument.value">
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card id="ports" *ngIf="!!selectedDriver">
      <mat-card-title>{{ 'Ports' | translate }}</mat-card-title>
      <mat-card-content>
        <table>
          <thead>
            <tr>
              <th>
                <span matTooltip="{{ 'The name of the port as known by the AHIO driver.' | translate }}">
                  {{ 'Port Name' | translate }}
                </span>
              </th>
              <th>
                <span matTooltip="{{ 'A valid python variable name that will be used in code to refer to this port value.' | translate }}">
                  {{ 'Port Alias' | translate }}
                </span>
              </th>
              <th>
                <span>{{ 'Port Type' | translate }}</span>
              </th>
              <th>
                <span>{{ 'Off Value' | translate }}</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let port of ports" inline-form>
              <td class="port-name">
                <mat-form-field class="width-100" *ngIf="!selectedDriver.ports.length">
                  <input matInput [placeholder]="'Port Name' | translate" [(ngModel)]="port.name">
                </mat-form-field>
                <mat-form-field class="width-100" *ngIf="!!selectedDriver.ports.length">
                  <mat-select [placeholder]="'Port Name' | translate" [(ngModel)]="port.name">
                    <mat-option *ngFor="let driverPort of selectedDriver.ports" [value]="driverPort.id">
                      {{ driverPort.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="port-alias">
                <mat-form-field class="width-100">
                  <input matInput [placeholder]="'Port Alias' | translate" [(ngModel)]="port.alias">
                </mat-form-field>
              </td>
              <td class="port-type">
                <mat-form-field class="width-100">
                  <mat-select [placeholder]="'Port Type' | translate" [(ngModel)]="port.type">
                    <mat-option *ngFor="let p of portTypes(port.name)" [value]="p">
                      {{ portTypeName(p)[0] | translate }} - {{ portTypeName(p)[1] | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="port-value">
                <mat-form-field class="width-100">
                  <input matInput [placeholder]="'Off Value' | translate" [(ngModel)]="port.defaultValue">
                </mat-form-field>
              </td>
              <td>
                <button mat-flat-button color="warn" (click)="removePort(port)">{{ 'Remove' | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="secondary" (click)="addPort()">{{ 'Add' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card id="calibration" *ngIf="!!selectedDriver && ((inputAliases?.length > 0) || (outputAliases?.length > 0))">
      <mat-card-title>{{ 'Calibration' | translate }}</mat-card-title>
      <mat-card-content>
        <table>
          <thead>
            <tr>
              <th>
                <span>{{ 'Port' | translate }}</span>
              </th>
              <th>
                <span>{{ 'Alias' | translate }}</span>
              </th>
              <th>
                <span matTooltip="{{ 'The formula that calibrates this port. Use
                the variable x in place of the value of the input. If port is of
                type Input, the value of the input will be passed through the
                expression. If it an output, the value assigned to the variable
                will be passed through the expression before sending to the
                driver.' | translate }}">
                  {{ 'Static Calibration' | translate }}
                </span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let calibration of calibrations" inline-form>
              <td>
                <mat-form-field class="width-100">
                  <mat-select [placeholder]="'Port' | translate" [(ngModel)]="calibration.port" class="width-100">
                    <mat-option *ngFor="let port of ports" [value]="port.id">
                      {{ port.alias }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="width-100">
                  <input matInput [placeholder]="'Alias' | translate" [(ngModel)]="calibration.alias">
                </mat-form-field>
              </td>
              <td class="calibration-formula">
                <mat-form-field class="width-100">
                  <input matInput [placeholder]="'Static Calibration' | translate" [(ngModel)]="calibration.formula">
                </mat-form-field>
              </td>
              <td>
                <button mat-flat-button color="warn" (click)="removeCalibration(calibration)">
                  {{ 'Remove' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="secondary" (click)="addCalibration()">{{ 'Add' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card id="interlocking" *ngIf="!!selectedDriver && (inputAliases?.length > 0) && (outputAliases?.length > 0)">
      <mat-card-title matTooltip="{{ 'Sets the output of some port to some value if Expression evaluates to true.' | translate }}">{{
        'Interlock' | translate }}</mat-card-title>
      <mat-card-content>
        <table>
          <thead>
            <tr>
              <th>
                <span>{{ 'Input' | translate }}</span>
              </th>
              <th>
                <span matTooltip="{{ 'Just like in Formula, x stands for the input value.' | translate }}">{{
                  'Expression' | translate }}</span>
              </th>
              <th>
                <span>{{ 'Output' | translate }}</span>
              </th>
              <th>
                <span>{{ 'Value' | translate }}</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interlock of interlocks" inline-form>
              <td>
                <mat-form-field class="width-100">
                  <mat-select class="width-100" [placeholder]="'Input' | translate" [(ngModel)]="interlock.sensor">
                    <mat-option *ngFor="let alias of inputAliases" [value]="alias">
                      {{ alias }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field stretch>
                  <input matInput [placeholder]="'Expression' | translate" [(ngModel)]="interlock.expression">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="width-100">
                  <mat-select class="width-100" [placeholder]="'Output' | translate" [(ngModel)]="interlock.actuator">
                    <mat-option *ngFor="let alias of outputAliases" [value]="alias">
                      {{ alias }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="width-100">
                  <input matInput [placeholder]="'Value' | translate" [(ngModel)]="interlock.actuatorValue">
                </mat-form-field>
              </td>
              <td>
                <button mat-flat-button color="warn" (click)="removeInterlock(interlock)">{{ 'Remove' | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="secondary" (click)="addInterlock()">{{ 'Add' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="!!selectedDriver">
      <mat-card-content>
        <button mat-flat-button color="primary" (click)="applyDriver()">{{ 'Apply' | translate }}</button>
        <button mat-stroked-button (click)="exportConfiguration()">{{ 'Export' | translate }}</button>
        <button mat-stroked-button (click)="importConfiguration()">{{ 'Import' | translate }}</button>
        <button mat-stroked-button (click)="resetDriver()">{{ 'Reset' | translate }}</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div stretch></div>
</div>
