<mat-card-title>
  {{ 'Add/Edit Controller' | translate }}
</mat-card-title>
<mat-card-content id="control-dialog">
  <mat-list>
    <h3 mat-subheader>{{ 'Setup' | translate }}</h3>

    <mat-list-item flex-col>
      <mat-form-field class="width-100">
        <input matInput [placeholder]="'Name' | translate" [(ngModel)]="controller.name">
      </mat-form-field>

      <mat-form-field class="width-100">
        <input matInput [placeholder]="'Sampling Time' | translate" [(ngModel)]="controller.tau">
      </mat-form-field>

      <mat-form-field class="width-100">
        <input matInput [placeholder]="'Total Run Time' | translate" [(ngModel)]="controller.runTime">
      </mat-form-field>
    </mat-list-item>

    <h3 mat-subheader>{{ 'Inputs' | translate }}</h3>

    <mat-list-item flex-col>
      <span>{{ 'For better performance, not all inputs are scanned. Choose the ones you need below.' | translate }}</span>
      <div default-padding>
        <div *ngFor="let input of inputs" class="input">
          <mat-checkbox [(ngModel)]="input[1]" (change)="updateInputs()">{{ input[0] }}</mat-checkbox>
        </div>
      </div>
    </mat-list-item>

    <h3 mat-subheader>{{ 'Before' | translate }}</h3>

    <mat-list-item flex-col>
      <span>{{ 'This code will be executed before the controller starts.' | translate }}</span>
      <ace [(value)]="controller.before" mode="python" theme="github"></ace>
    </mat-list-item>

    <h3 mat-subheader>{{ 'Controller' | translate }}</h3>

    <mat-list-item>
      <ace [(value)]="controller.controller" mode="python" theme="github"></ace>
    </mat-list-item>

    <h3 mat-subheader>{{ 'After' | translate }}</h3>

    <mat-list-item flex-col>
      <span>{{ 'This code will be executed after the controller leaves. Even if something goes wrong.' | translate }}</span>
      <ace [(value)]="controller.after" mode="python" theme="github"></ace>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary" (click)="save()">{{ 'Save' | translate }}</button>
  <button mat-stroked-button (click)="cancel()">{{ 'Cancel' | translate }}</button>
</mat-card-actions>
