<div flex class="connect-wrapper">
  <div stretch></div>
  <div flex-col>
    <div stretch></div>

    <mat-card *ngIf="!isLoggedIn()">
      <mat-card-content>
        <mat-input-container class="width-100">
          <input matInput [placeholder]="'Moirai Address' | translate" [(ngModel)]="connectionAddress" (keydown.enter)="connect()">
        </mat-input-container>
        <mat-input-container class="width-100">
          <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="connectionPassword" (keydown.enter)="connect()"
            autofocus>
        </mat-input-container>
        <button class="connect-button" mat-raised-button color="primary" (click)="connect()">{{ 'Connect' | translate }}</button>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isLoggedIn()">
      <mat-card-title>
        {{ 'Connected' | translate }}
      </mat-card-title>
      <mat-card-content>
        <button class="connect-button" mat-raised-button color="primary" (click)="disconnect()">{{ 'Disconnect' | translate }}</button>
      </mat-card-content>
    </mat-card>

    <div stretch *ngIf="isLoggedIn()"></div>

    <mat-card *ngIf="isLoggedIn()">
      <mat-card-title>
        {{ 'Change Password' | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-input-container class="width-100">
          <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="newPassword">
        </mat-input-container>
        <mat-input-container class="width-100">
          <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="newPasswordConfirmation">
        </mat-input-container>
      </mat-card-content>
      <mat-card-actions>
        <button class="connect-button" mat-raised-button color="primary" (click)="setPassword()">{{ 'Apply' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <div stretch></div>
  </div>
  <div stretch></div>
</div>