<div flex class="connect-wrapper">
  <div stretch></div>
  <div flex-col>
    <div stretch></div>

    <md-card *ngIf="!isLoggedIn()">
      <md-card-content>
        <md-input-container class="width-100">
          <input mdInput [placeholder]="'Moirai Address' | translate" [(ngModel)]="connectionAddress" (keydown.enter)="connect()">
        </md-input-container>
        <md-input-container class="width-100">
          <input type="password" mdInput [placeholder]="'Password' | translate" [(ngModel)]="connectionPassword" (keydown.enter)="connect()"
            autofocus>
        </md-input-container>
        <button class="connect-button" md-raised-button color="primary" (click)="connect()">{{ 'Connect' | translate }}</button>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isLoggedIn()">
      <md-card-content>
        <span text-center>{{ 'Connected' | translate }}</span>
        <br><br>
        <button class="connect-button" md-raised-button color="primary" (click)="disconnect()">{{ 'Disconnect' | translate }}</button>
      </md-card-content>
    </md-card>

    <md-card *ngIf="isLoggedIn()">
      <md-card-title>
        {{ 'Change Password' | translate }}
      </md-card-title>
      <md-card-content>
        <md-input-container class="width-100">
          <input type="password" mdInput [placeholder]="'Password' | translate" [(ngModel)]="newPassword">
        </md-input-container>
        <md-input-container class="width-100">
          <input type="password" mdInput [placeholder]="'Password' | translate" [(ngModel)]="newPasswordConfirmation">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button class="connect-button" md-raised-button color="primary" (click)="setPassword()">{{ 'Apply' | translate }}</button>
      </md-card-actions>
    </md-card>

    <div stretch></div>
  </div>
  <div stretch></div>
</div>