<div flex>
    <div stretch></div>
    <div id="live-graph">
        <h1>{{ 'Graphs' | translate }}</h1>

        <md-card>
            <md-card-content>
                <div id="tests-list">
                    <table class="width-100">
                        <tbody>
                            <tr *ngFor="let test of tests" inline-form flex>
                                <td stretch>
                                    <md-icon *ngIf="test.running">timeline</md-icon>
                                    <span>{{ test.name }}</span> -
                                    <span>{{ formatDate(test.date) }}</span>
                                </td>
                                <td>
                                    <button md-raised-button color="primary" (click)="loadTest(test)">{{ 'Show' | translate }}</button>
                                    <button md-raised-button color="warn" (click)="removeTest(test)">{{ 'Remove' | translate }}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>

        <md-card id="test-data" *ngIf="testExportVariables && !test.running">
            <md-card-title>
                {{ 'Points' | translate }}
            </md-card-title>
            <md-card-content>
                <div>
                    <md-radio-group [(ngModel)]="exportType">
                        <md-radio-button default-padding *ngFor="let type of exportTypes" [value]="type">
                            {{ type }}
                        </md-radio-button>
                    </md-radio-group>

                    <table>
                        <tbody>
                            <tr *ngFor="let test of testExportVariables">
                                <td>
                                    <md-checkbox [(ngModel)]="test.export">{{ test.variable }}</md-checkbox>
                                </td>
                                <td>
                                    <md-input-container class="width-100">
                                        <input mdInput [placeholder]="'Exported Name' | translate" [(ngModel)]="test.exportName" (blur)="validateVariable()">
                                    </md-input-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button md-raised-button color="primary" (click)="saveTest()">{{ 'Save' | translate }}</button>
                </div>
            </md-card-content>
        </md-card>

        <md-card id="charts" *ngIf="testData">
            <md-card-content>
                <md-checkbox [(ngModel)]="syncZoom">{{ 'Sync' | translate }}</md-checkbox>
                <br><br>
                <div class="chart" *ngFor="let test of testData">
                    <h2>{{ test.sensor }}</h2>
                    <chart [sensor]="test.sensor" [points]="test.points" [syncZoomFunction]="syncZoomFunction"></chart>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div stretch></div>
</div>