<mat-list id="sidenav">
  <mat-list-item>
    <button mat-button routerLink="connect">{{ 'Connection' | translate }}</button>
  </mat-list-item>
  <mat-list-item *ngIf="isLoggedIn()">
    <button mat-button routerLink="hardware">{{ 'Hardware Setup' | translate }}</button>
  </mat-list-item>
  <mat-list-item *ngIf="isLoggedIn()">
    <button mat-button routerLink="system-response">{{ 'System Response' | translate }}</button>
  </mat-list-item>
  <mat-list-item *ngIf="isLoggedIn()">
    <button mat-button routerLink="control">{{ 'System Control' | translate }}</button>
  </mat-list-item>
  <mat-list-item *ngIf="isLoggedIn()">
    <button mat-button routerLink="live-graph">{{ 'Graphs' | translate }}</button>
  </mat-list-item>
</mat-list>
