<md-list id="sidenav">
  <md-list-item>
    <button md-button routerLink="connect">{{ 'Connection' | translate }}</button>
  </md-list-item>
  <md-list-item *ngIf="isLoggedIn()">
    <button md-button routerLink="hardware">{{ 'Hardware Setup' | translate }}</button>
  </md-list-item>
  <md-list-item *ngIf="isLoggedIn()">
    <button md-button routerLink="system-response">{{ 'System Response' | translate }}</button>
  </md-list-item>
  <md-list-item *ngIf="isLoggedIn()">
    <button md-button routerLink="control">{{ 'System Control' | translate }}</button>
  </md-list-item>
  <md-list-item *ngIf="isLoggedIn()">
    <button md-button routerLink="live-graph">{{ 'Graphs' | translate }}</button>
  </md-list-item>
</md-list>