<mat-card-title>{{ 'Add/Edit Test' | translate }}</mat-card-title>
<mat-card-content>
  <mat-form-field class="width-100">
    <input matInput [placeholder]="'Name' | translate" [(ngModel)]="test.name">
  </mat-form-field>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" [@.disabled]="true">
    <mat-tab label="{{ 'Step' | translate }}">
      <step-response *ngIf="test.type == 'step'" [(test)]="test"></step-response>
    </mat-tab>
    <mat-tab label="{{ 'Impulse' | translate }}">
      <impulse-response *ngIf="test.type == 'impulse'" [(test)]="test"></impulse-response>
    </mat-tab>
    <mat-tab label="{{ 'Wide Pulse' | translate }}">
      <wide-pulse-response *ngIf="test.type == 'wide-pulse'" [(test)]="test"></wide-pulse-response>
    </mat-tab>
    <mat-tab label="{{ 'Stair' | translate }}">
      <stair-response *ngIf="test.type == 'stair'" [(test)]="test"></stair-response>
    </mat-tab>
    <mat-tab label="{{ 'Free Form' | translate }}">
      <free-response *ngIf="test.type == 'free'" [(test)]="test"></free-response>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
<mat-card-actions>
  <button mat-button color="primary" (click)="save()">{{ 'Save' | translate }}</button>
  <button mat-button (click)="cancel()">{{ 'Cancel' | translate }}</button>
</mat-card-actions>
