<div flex-col class="connect-wrapper">
  <mat-card *ngIf="!isLoggedIn()">
    <mat-card-title>
      {{ 'Connect' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-action-list>
        <h3 mat-subheader>{{ 'Past connections' | translate }}</h3>

        <mat-list-item *ngFor='let connection of connections'>
          <button mat-list-item (click)='fillLogin(connection)'>
            <span flex class="width-100">
              <span stretch>{{connection}}</span>
              <button mat-icon-button color="warn" (click)="remove(connection); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </button>
        </mat-list-item>
      </mat-action-list>

      <mat-form-field class="width-100">
        <input matInput [placeholder]="'Moirai Address' | translate" [(ngModel)]="connectionAddress" (keydown.enter)="connect()">
      </mat-form-field>

      <mat-form-field class="width-100">
        <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="connectionPassword"
          (keydown.enter)="connect()" autofocus>
      </mat-form-field>

      <button class="width-100" [disabled]='working' mat-flat-button color="primary" (click)="connect()">
        {{ 'Connect' | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <div stretch *ngIf="isLoggedIn()"></div>

  <mat-card *ngIf="isLoggedIn()">
    <mat-card-title>
      {{ 'Connected' | translate }}
    </mat-card-title>
    <mat-card-content>
      <button class="width-100" [disabled]='working' mat-flat-button color="primary" (click)="disconnect()">
        {{ 'Disconnect' | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <div stretch *ngIf="isLoggedIn()"></div>

  <mat-card *ngIf="isLoggedIn()">
    <mat-card-title>
      {{ 'Change Password' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="width-100">
        <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="newPassword">
      </mat-form-field>
      <mat-form-field class="width-100">
        <input type="password" matInput [placeholder]="'Password' | translate" [(ngModel)]="newPasswordConfirmation">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="width-100" [disabled]='working' mat-flat-button color="primary" (click)="setPassword()">
        {{ 'Apply' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>

  <div stretch *ngIf="isLoggedIn()"></div>

  <mat-card *ngIf="isLoggedIn()">
    <mat-card-title>
      {{ 'Backup/Restore' | translate }}
    </mat-card-title>
    <mat-card-content>
      <div>{{ 'Backup or restore the whole database.' | translate }}</div>
      <div>{{ 'This can take some time.' | translate }}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button [disabled]='working' color="primary" (click)="backup()">{{ 'Backup' | translate }}</button>
      <button mat-flat-button [disabled]='working' color="primary" (click)="restore()">{{ 'Restore' | translate }}</button>
    </mat-card-actions>
  </mat-card>

  <div stretch *ngIf="isLoggedIn()"></div>
</div>
